.App {
  text-align: center;
  background-color: #4f4b4b; /* Gray background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: cyan; /* Cyan color for text */
}

.App-header {
  display: none; /* Remove the header styles */
}

.App-logo {
  display: none; /* Remove the logo styles */
}

.App-link {
  color: cyan; /* Cyan color for links */
}
