.voice-assistant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4f4b4b; /* Gray background */
  color: cyan; /* Cyan color for text */
}

.voice-assistant-buttons {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: cyan; /* Cyan background for buttons */
  color: rgb(85, 85, 85); /* White text color for buttons */
  border: none;
  border-radius: 5px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.audio-player {
  margin-top: 20px;
}
